
@{
    ViewData["Title"] = "Contacts";
}

<h1 class="display-4 text-center">How to contact Cinema World</h1>
<p class="text-muted">Cinema World team consists of one member only, therefore reply time may vary. For any imminent or important inqueries contact Cinema World at any of these places shown below.</p>
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
</div>

