@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="display-4 text-center"> Cinema World Privacy Policy information</h1>
<p class="text-muted text-center">Webpage is in development mode and any data may be deleted and modified. Please, be cautious and understanding.</p>